<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>TopPIC</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>UploadServlet</display-name>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>edu.iupui.toppc.upload.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ArgumentServlet</display-name>
		<servlet-name>ArgumentServlet</servlet-name>
		<servlet-class>edu.iupui.toppc.arguments.ArgumentServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>TaskDeleteServlet</display-name>
		<servlet-name>TaskDeleteServlet</servlet-name>
		<servlet-class>edu.iupui.toppc.task.TaskDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>TaskStopServlet</display-name>
		<servlet-name>TaskStopServlet</servlet-name>
		<servlet-class>edu.iupui.toppc.task.TaskStopServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>TaskInfoServlet</display-name>
		<servlet-name>TaskInfoServlet</servlet-name>
		<servlet-class>edu.iupui.toppc.task.TaskInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArgumentServlet</servlet-name>
		<url-pattern>/ArgumentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaskDeleteServlet</servlet-name>
		<url-pattern>/TaskDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaskStopServlet</servlet-name>
		<url-pattern>/TaskStopServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaskInfoServlet</servlet-name>
		<url-pattern>/TaskInfoServlet</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>edu.iupui.toppc.listener.MsListener</listener-class>
	</listener>
</web-app>