.table th {
	text-align: center;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 0px;
}

#downloadModal {
	top: 100px;
	width: 500px;
	height: 370px;
	overflow: hidden;
	margin: 0 auto;
}